

// Importa Bootstrap SCSS
@import 'bootstrap/scss/bootstrap';

// Otros estilos personalizados
html {
    background-color: #000;
}
.link-claro {
    color: #FFF;
}
.link-claro:hover {
    color:rgb(179, 179, 179)
    }
    /* Estilo para el enlace activo */
.active {
    color: #ff9800; /* Cambia este color por el que prefieras */
    font-weight: bold; /* Puedes agregar otros estilos */
}

